openapi: 3.0.3
info:
  title: Arch Coal Investor Relations Filings Financial API
  description: The Arch Coal Investor Relations API provides access to financial data, SEC filings, coal production reports, and market information for Arch Coal (Arch Resources). This API reflects public financial data available through investor relations portals.
  version: '1.0'
  x-generated-from: documentation
  contact:
    name: Arch Coal Investor Relations
    url: https://archresources.com/investor-relations/
servers:
- url: https://api.archresources.com/v1
  description: Arch Resources API
security:
- apiKey: []
tags:
- name: Financial
  description: Financial performance metrics
paths:
  /financial/earnings:
    get:
      operationId: getEarnings
      summary: Arch Coal Get Earnings Data
      description: Retrieve quarterly and annual earnings data including revenue, EBITDA, and net income.
      tags:
      - Financial
      parameters:
      - name: year
        in: query
        description: Fiscal year
        schema:
          type: integer
        example: 2025
      - name: quarter
        in: query
        description: Quarter (1-4), omit for annual
        schema:
          type: integer
          minimum: 1
          maximum: 4
        example: 4
      responses:
        '200':
          description: Earnings data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EarningsReport'
              examples:
                GetEarnings200Example:
                  summary: Default getEarnings 200 response
                  x-microcks-default: true
                  value:
                    year: 2025
                    quarter: 4
                    revenue: 782000000
                    ebitda: 245000000
                    netIncome: 198000000
                    earningsPerShare: 12.45
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - apiKey: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    EarningsReport:
      type: object
      properties:
        year:
          type: integer
          description: Fiscal year
          example: 2025
        quarter:
          type: integer
          description: Quarter (null for annual)
          example: 4
        revenue:
          type: integer
          description: Total revenue in USD
          example: 782000000
        ebitda:
          type: integer
          description: Adjusted EBITDA in USD
          example: 245000000
        netIncome:
          type: integer
          description: Net income in USD
          example: 198000000
        earningsPerShare:
          type: number
          description: Diluted earnings per share in USD
          example: 12.45
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          description: Error message
          example: Unauthorized
        code:
          type: integer
          description: Error code
          example: 401
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for Arch Coal investor data access
